# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules/
/server/.pnp
/client/.pnp.*
/.client/yarn/*
!.client/yarn/patches
!.client/yarn/plugins
!.client/yarn/releases
/client/.yarn/versions/

# testing
/client/coverage/

# next.js
/client/.next/
/client/out/

# production
/client/build/

# misc
/.client/DS_Store
*client/.pem

# debug
/client/pm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# env files (can opt-in for committing if needed)
.client/.env*
/client/src/utils/env.js

# vercel
/client/.vercel/

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts

# server static files (if this is intended to ignore server-side static files)
server/app/static/*
server/__pycache__ 
server/app/__pycache__

